option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application


files:
  "/tmp/install_packages.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      sudo apt-get install libatlas-base-dev  -y 
      sudo apt-get install libgl1-mesa-dev  -y
      sudo apt-get install libjasper-dev  -y 

commands:
  10_install_packages:
    command: "sh /tmp/install_packages.sh"
    ignoreErrors: false


