<!DOCTYPE html>
<html>


<body>



  <h1>Face Upload</h1>
  <form method="POST" action="" enctype="multipart/form-data">
    <p><input type="file" name="file" accept="image/*"></p>
    <p><input type="submit" value="Submit"></p>
  </form>


  <!-- <button onclick="show_faces()">Show known faces</button> -->
  <div display: inline-block;>
  {% for file in files %}
    <img src="{{ url_for('static', filename=file) }}" style="width: 50px">
  {% endfor %}
</div>

  
    <br></br>
    <!-- <h1>Camera</h1> -->
    <button onclick="show_cam()">Show camera</button>
    <br></br>
    <div id="cam1" class="class1">

        <img data-src="{{ url_for('video') }}" width="50%" />
    </div>

</body>


</html>

<script>


function show_cam() {
  document.getElementById('cam1').style.maxHeight = "200px";
  var images = document.querySelectorAll("#cam1 img");
  for(var i = 0; i < images.length; i++)
  {
    images[i].src = images[i].getAttribute('data-src');
  }
}

</script>