{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Show Images</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-success">
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}

  <ul>
    {% for image in images %}
    <li>Face with name: {{ image.name }}</li>
    is located in: {{ image.image_location }}
    <!-- something is wrong with image location translation -->
    <img src='{{ image.image_location }}' >
    <br></br>
    {% endfor %}
  </ul>
</div>
{% endblock %}
